@page
@model TMAWarehouse.Pages.Employee.RequestCreatedModel
@{
    ViewData["Title"] = "Request Created";
}

<div class="d-flex flex-column align-items-center">
    <div id="message" class="alert alert-success mt-2">Request created.</div>
    &nbsp;
    <a class="btn btn-outline-primary m-2" asp-area="" asp-page="/Employee/ItemList">Go back to Item List</a>
</div>
