@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TMA Warehouse Service</h1>
    <h2> Choose your role:</h2>

    <div style="height: 50px;"> </div>
    <div class="row justify-content-evenly">
        <div class="col-auto ">
            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-page="/Employee/ItemList">Employee</a>
        </div>
        <div class="col-auto ">
            <a class="btn btn-warning btn-lg btn-block" asp-area="" asp-page="/Coordinator/Coordinator">Coordinator</a>
        </div>
    </div>
</div>
